
#carouselExample, div{
    max-width: 1000px;
    max-height: 800px;
    margin: auto;
}

#kayimg {
    width: 10hem;
    height: 80hem;
}

span {
    max-width: 10hem;
    max-height: 80hem;
}